<td class="product-thumbnail">
  <%= image_tag product.picture_url, class: "img-fluid" %>
</td>
<td class="product-name">
  <h2 class="h5 text-black"><%= product.product_name%></h2>
</td>
<td><%= product.unit_price%></td>
<td>
  <%= order_detail.quantity.to_i %>
</td>
<td><%= order_detail.total_price %></td>
<td><%= link_to t(".delete_btn"), order_detail, method: :delete, remote: true, data: { confirm: t(".confirm") }, class: "btn btn-primary btn-sm" %></td>
