<footer class="site-footer border-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="row">
          <div class="col-md-12">
            <h3 class="footer-heading mb-4"><%= t "views.layout.client.footer_nav" %></h3>
          </div>
          <div class="col-md-6 col-lg-4">
            <ul class="list-unstyled">
              <li><a href="#"><%= t "views.layout.client.footer_feature" %></a></li>
              <li><a href="#"><%= t "views.layout.client.footer_cart" %></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="block-5 mb-5">
          <h3 class="footer-heading mb-4"><%= t "views.layout.client.footer_contact.title" %></h3>
          <ul class="list-unstyled">
            <li class="address"><%= t "views.layout.client.footer_contact.address" %></li>
            <li class="phone"><%= t "views.layout.client.footer_contact.phone" %></li>
            <li class="email"><%= t "views.layout.client.footer_contact.email" %></li>
          </ul>
        </div>
      </div>
    </div>
    </div>
</footer>
